extends layout

block content
  .login-form
    h1 Login
    form(action="/login" method="POST")
      .form-group
        label(for="email") Email:
        input(type="email" id="email" name="email" required)
      .form-group
        label(for="password") Password:
        input(type="password" id="password" name="password" required)
      button(type="submit") Login
    p Don't have an account? 
      a(href="/register") Register here