//- views/404.pug
doctype html
html
  head
    title Page Not Found
    link(rel="stylesheet", href="/styles.css")
  body
    h1 404 - Page Not Found
    p The page you are looking for doesn't exist.
    a(href="/") Go back to home
