//- views/health_record_form.pug
extends layout

block content
  h1= title
  form(action=`/pets/${pet.Pet_ID}/health-records/new` method="POST")
    div
      label(for="date") Visit Date:
      input(type="date", name="date", required)
    div
      label(for="diagnosis") Diagnosis:
      input(type="text", name="diagnosis", required)
    div
      label(for="treatment") Treatment:
      input(type="text", name="treatment", required)
    button(type="submit") Submit
